<div class="row">
  <div class="col-xs-3">
    <br>
    Last Name Search:
    <input id="search" type="search" ng-model="q.lName" placeholder="ex. Johnson" aria-label="find employee" />
        <ul class="employeeList" ng-if="q.lName">
          <br>
          <li class="employees" ng-repeat="employees in employeeList | filter:q as results">
            <a href="/details"><strong ng-click="employeeDetails(employees);">{{ employees.lName }}, {{ employees.fName }}</strong></a>
          </li>
          <br>
          <br>
          <li ng-if="results.length == 0">
            <strong>No results found...</strong>
          </li>
        </ul>
  </div>
</div>