<div class="row">
  <div class="col-xs-9">
    <form>
      <label>Enter ID Number for Delete and Update; Leave Blank for New Employee</label><br>
      <label>Employee ID:</label>
      <input id="_id" class="userInput" type="text" />
      <br>

      <label>First Name:</label>
      <input id="fName" class="userInput" type="text" />
      <br>

      <label>Last Name:</label>
      <input id="lName" class="userInput" type="text" />
      <br>

      <label>Phone Number:</label>
      <input id="tel" class="userInput" type="text" />
      <br>

      <label>Email Address:</label>
      <input id="email" class="userInput" type="text" />
      <br>
      <a href="/database">
        <input id="create" type="submit" value="Create New" onClick="window.location.reload()"/>
        <input id="delete" type="submit" value="Delete" onClick="window.location.reload()"/>
        <input id="update" type="submit" value="Update" onClick="window.location.reload()"/>
      </a>
    </form>
  </div>
</div>
<div id="bottomRow" class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-8">  
    <h6>ID: <span>{{ id }}</span></h6><br>
    <h6>First Name: <span>{{ fName }}</span></h6><br>
    <h6>Last Name: <span>{{ lName }}</span></h6><br>
    <h6>Phone Number: <span>{{ tel }}</span></h6><br>
    <h6>Email Address: <span>{{ email }}</span></h6><br>
  </div>
</div>